<div class="h-100 d-flex flex-column chat-window">
    <ng-container *ngIf="!archive else archiveContents">
        <div class="select-room h-100 w-100 d-flex justify-content-start align-items-top">
            <div class="select-room-message">
                <mat-card>
                    <mat-card-title>Glædelig Jul Mor og Far ♥</mat-card-title>
                    <mat-card-content>Her er min lille julegave til jer I år, jeg håber I får glæde af den - hvorend I
                        befinder jer i verden! <br><br> Kærlig Hilsen Djan</mat-card-content>
                    <mat-card-footer>December 2019</mat-card-footer>
                </mat-card>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #archiveContents>
    <div class="message-wrapper h-100">
        <br />
        <h1>{{ parent.archive.name }}</h1>
        <ng-container *ngIf="contents else noContent"></ng-container>

        <div class="row" style="display: flex; flex-wrap: wrap;">
            <ng-container *ngFor="let content of contents">

                <!-- <video width="320" height="240" controls>
                <source [src]="content?.videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video><br /> -->
                <mat-card>
                    <mat-card-title>{{ content.videoYear }}: {{ content.videoTitle }}</mat-card-title>
                    <hr />
                    <video controls>
                        <source [src]="content?.videoUrl" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <!-- <vg-player>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                    <vg-controls>
                        <vg-play-pause></vg-play-pause>
                        <vg-playback-button></vg-playback-button>

                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>

                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <video *ngFor="let content of contents" [vgMedia]="media" #media id="singleVideo" preload="auto"
                        crossorigin>
                        <source [src]="content?.videoUrl" type="video/mp4">
                    </video>
                </vg-player> -->
                    <!-- Title: {{ content.videoTitle }} <br /><br /> -->
                    <div class="info-box">
                        <mat-icon class="info-icon">info</mat-icon>
                        <div class="info-text">{{ content.videoDescription }}</div><br />
                    </div>
                </mat-card>
                <br />
            </ng-container>

        </div>
    </div>

</ng-template>

<ng-template #noContent>
    <div class="select-room h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="select-room-message">
            Arkivet er tomt.
        </div>
    </div>
</ng-template>