<nav class="navbar navbar-expand-sm navbar-primary bg-primary">
    <div class="container">
        <span class="navbar-brand">LZ :: Video Arkiv</span>
        <div class="page-links">
            <ul class="navbar-nav" *ngIf="currentUser else loggedOut">
                <li class="nav-item">
                    <a [routerLink]="'/profile/' + currentUser.id" routerLinkActive="active" class="nav-link">Min
                        Profil</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/archives" routerLinkActive="active" class="nav-link">Arkiver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="auth.logout()">Log ud</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #loggedOut>
    <ul class="navbar-nav" *ngIf="true else loggedOut">
        <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link">Log ind</a>
        </li>
        <li class="nav-item">
            <a routerLink="/signup" routerLinkActive="active" class="nav-link">Opret Profil</a>
        </li>
    </ul>
</ng-template>