@import '../../../styles/variables.scss';

span {
  color: #ffffff;
}

.nav-item {
  color: $light-grey;
}

a {
  color: $light-grey;
  margin-left: 2em;

  &.active {
    border-bottom: 3px solid $gold;
  }
}
