/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
}

body {
  background-color: $primary;
  height: 100%;
}

.container-wrapper {
  height: calc(100vh - 70px) !important;
}

.navbar {
  height: 70px;
}

button {
  width: 100%;

  &.btn {
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }
}

.mat-drawer-container {
  background-color: white;
  height: 99%;
}

.mat-card {
  background-color: rgba($secondary, $alpha: 0.2);
}

.mat-card-footer {
  padding: 10px;
  opacity: 50%;
}
