<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Familien Blom's Video Arkiv</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items" *ngIf="currentUser else loggedOut">
      <li>
        <a [routerLink]="'/profile/' + currentUser.id" routerLinkActive="active" class="nav-link">Min
          Profil</a>
      </li>
      <li>
        <a routerLink="/archives" routerLinkActive="active" class="nav-link">Arkiver</a>
      </li>
      <li>
        <a class="nav-link" (click)="auth.logout()">Log ud</a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<ng-template #loggedOut>
  <ul fxLayout fxLayoutGap="15px" class="navbar-nav navigation-items" *ngIf="true else loggedOut">
    <li class="nav-item">
      <a routerLink="/login" routerLinkActive="active" class="nav-link">Log ind</a>
    </li>
    <li class="nav-item">
      <a routerLink="/signup" routerLinkActive="active" class="nav-link">Opret Profil</a>
    </li>
  </ul>
</ng-template>