<!-- <app-navbar></app-navbar> -->
<div class="container-wrapper d-flex justify-content-center align-items-center">
    <div class="form-wrapper text-center">
        <h2 class="text-center">Log Ind</h2>
        <form [formGroup]="loginForm" (submit)="submit()" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" id="email-input" placeholder="Enter Email Adress"
                    formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password-input" placeholder="Enter Password"
                    formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary">Log Ind!</button>
        </form>
        <small><a routerLink="/signup">Vil du oprette en konto?</a></small>
    </div>
</div>